:root{
    --highlight: rgb(255, 255, 255);
    --normal: rgb(200, 200, 200);
    --pressed: rgb(152, 152, 157);
    --extra: rgb(255, 214, 10);
}

body {
    background-color: rgb(30, 30, 30);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 130%;
    color: var(--normal);
    max-width: 80ch;
}

figure {
    margin: 0px;
}

img {
    width: 100%;
}

iframe {
    border:1px solid var(--pressed);
}

.video-container {
	position:relative;
    padding-bottom:56.24%;
}

.video-container iframe {
	position:absolute;
	width:100%;
	height:100%;
}

.map-container {
    width: 100%;
    height: 300px;
}

.map-container iframe{
   width: 100%;
   height: 100%;
}

.logo {
    text-decoration: none;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

svg {
    fill: var(--normal);
    width: .75em;
    height: .75em;
}

svg:hover {
    fill: var(--highlight);
}

svg:active {
    fill: var(--pressed);
}

a:link {
    color: var(--extra);
}

a:visited {
    color: var(--normal);
}

a:hover {
    color: var(--highlight);
}

a:active {
    color: var(--pressed);
}